<body ng-controller='MainController'>
	<!--<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"
    chart-legend="true" chart-series="series" chart-click="onClick"></canvas>-->

	<h1>Atom Language Information</h1>
	<div ng-controller="SuggestedExamplesController">
		<h1 ng-if='examples'>Suggested Code</h1>
		<div ng-click='importExample(example)' ng-repeat='example in examples'>
			<h2>{{example.description}}</h2>
			<div hljs hljs-source='example.code' />
		</div>
	</div>
</body>