# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle CoDemand'
      'command': 'atom-codemand:toggle'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'CoDemand'
      'submenu': [
        {
          'label': 'Start Recording'
          'command': 'atom-codemand:VoiceRecording'
        },
        {
          'label': 'Show Response List'
          'command': 'atom-codemand:toggle'
        }
      ]
    ]
  }
]
