// The ui-variables file is provided by base themes provided by Atom.
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.


@import "ui-variables";

 atom-panel.right {
    background-color: #FFF;
 }
.zi-mainview {
	// background-color: red;
	h1 {
		color: blue;
	}
	div {
    overflow-y:scroll;
		font-size: 14px;
	}
	p {
		width: 288px;
		font-size: 14px;
    word-wrap: break-word;
  }
}

.add {
  background-color: 'green';
}
.remove{
  background-color: 'red';
}

atom-text-editor /deep/ .line.add{
  background-color: green;
}

atom-text-editor /deep/ .line.delete{
  background-color: red;
}

// atom-text-editor::shadow .lines .line.cursor-line {
//   background-color: red;
// }

atom-text-editor::shadow .selection .region {
  background-color: LightGoldenRodYellow;
}

.zi-width-resizer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 8px;
	cursor: col-resize;
	z-index: 5;
}


.test-pkg {

  height: 0; // Height is computed
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  z-index: 100;

  transition: opacity 100ms, visibility 0 100ms;

  backface-visibility: hidden;
  transform-style: preserve-3d;

  div {
    color:yellow;
    padding: 14px;
    font-size: 18px;
    background-color: #38A824;
  }

  &.is--open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    transition: opacity 100ms;
  }
}

atom-text-editor::shadow .highlight.test-pkg-highlight .region {
  background-color: rgb(21,100,100);
}
