// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

 atom-panel.right {
    background-color: #FFF;
 }
.zi-mainview {
	// background-color: red;
	h1 {
		color: blue;
	}
	div {
		font-size: 18px;
	}
	p {
		width: 320px;
		font-size: 18px;
    word-wrap: break-word;
  }

}

.add {
  background-color: 'green';
}
.remove{
  background-color: 'red';
}

atom-text-editor::shadow .line .add{
  background-color: 'green';
}

// atom-text-editor::shadow .lines .line.cursor-line {
//   background-color: red;
// }

atom-text-editor::shadow .selection .region {
  background-color: LightGoldenRodYellow;
}

.zi-width-resizer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 8px;
	cursor: col-resize;
	z-index: 5;
}
